@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}
h3{
  font-size: 2rem;
  font-weight: 700;
}
h2{
  font-size: 2.5rem;
  font-weight: 300;
}
#profil .hover-yellow:hover {
  color: #FFCB09;
  cursor: pointer;
}
#bricoProcedure .yellow-text{
  color : #FFCB09;
  font-size: 5rem;
  font-weight: 400;
}
/* navbar styling start*/
.navbar ul li a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navbar ul li a:hover {
  color: #FFCB09;
}
/* navbar styling end */

/* slide section */
#slide {
  height: 600px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  background-image: url(../images/slide3.jpg);
  overflow: hidden;
}

#slide .slide-components{
  height: 500px;
}

#slide h1 {
  color : #FFCB09;
  font-size: 4.5rem;
  font-weight: 700; 
}
#slide h2 {
  color : #FFF;
  font-size: 3rem;
  font-weight: 400;
}

#slide .slide-components a {
  background-color: #FFCB09;
  color: #000;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}
#slide .slide-components a:hover {
  background-color: #000;
  color: #FFCB09;
  cursor: pointer;
  padding: 10px 30px;
}
/* Media query screen under 720px*/
@media screen and (max-width: 720px) {
  #slide h1 {
    font-size: 2.5rem; 
    /* Adjust the font size for smaller screens */
  }
  #slide h2 {
    font-size: 1.5rem;
    font-weight: 400;
  
  }
}
/* slide section styling end */


/* bricoleurDuMoi section styling start  */

.light-background {
  background: #f8f7f7;
}
/* bricoleurDuMoi section styling end */

/* blog section styling end */
.image-heading {
  display: flex;
  align-items: center;
}
.svg-image {

  margin-left: -10px; 
}
#blog a {
  text-decoration: none;
  color: #000;
}
#blog a:hover {
  color: #FFCB09;
  cursor: pointer;
}


/* blog section styling end */

/* services section styling start  */

#services h3{
  font-size: 2rem;
  font-weight: 700;
}
#services h2{
  font-size: 3rem;
  font-weight: 300;
}
.card3 {
    position: relative;
    width: 300px;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay button{
  border: none;
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}
.card-hover-scale:hover {
  transform: scale(0.95);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}
/* services section styling end */

/* bricoProcedures section styling end */
#bricoProcedure a {
  border: none;
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}
#bricoProcedure a {
  border: none;
  padding: 10px 25px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s e  ase-in-out; 
}
#bricoProcedure a:hover {
  color: #FFCB09;
  padding: 10px 30px;
}

/* procedures section styling end */

/* service page styling start */
#serviceSlide {
  height: 300px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  background-image: url(../images/slide3.jpg);
  overflow: hidden;
}
#serviceSlide .slide-components{
  height: 200px;
}

#serviceSlide h1 {
  color : #FFCB09;
  font-size: 4.5rem;
  font-weight: 700; 
}
#serviceSlide h2 {
  color : #FFF;
  font-size: 3rem;
  font-weight: 400;
}


/* Media query screen under 720px*/
@media screen and (max-width: 720px) {
  #slide h1 {
    font-size: 2.5rem; 
    /* Adjust the font size for smaller screens */
  }
  #slide h2 {
    font-size: 1.5rem;
    font-weight: 400;
  
  }
}

/* service page styling end */

#filter button {
  background-color: #FFCB09;
  color: #000;
  padding: 10px 25px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}
#filter button:hover {
  background-color: #000;
  color: #FFCB09;
  cursor: pointer;
  padding: 10px 30px;
}

#service a {
  background-color: #FFCB09;
  color: #000;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}
#service a:hover {
  background-color: #000;
  color: #FFCB09;
  cursor: pointer;
  padding: 10px 30px;
}

 
.whatsapp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  font-size: 48px;
}
.whatsapp-button:hover{
  background-color: #128c7e;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 48px;
  transition: all 0.3s ease-in-out; 
}

.whatsapp-icon {
  margin-right: 8px;
}

.whatsapp-number {
  margin-left: 8px;
}

